* {
    padding: auto;
    margin: 0;
    box-sizing: border-box;
}
 
header {
    background-color: #f0f0f0;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

main {
display: flex;
justify-content: space-between;
margin-top: 70px;
}
article {
    width: 60%;
    margin: 20px auto;
    background-color: #E0E0E0;
    padding: 15px;
    z-index: 1;
}
aside {
    width: 30%;
    background-color:#D0D0D0;
    margin: 20px;
    padding: 15px;
    z-index: 2;
}
footer {
    background-color: #C0C0C0;
    padding: 10px;
    position: fixed; 
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 5;
}